@{
    ViewData["Title"] = "Pead's Putts - Home";
}

<div class="text-center">
    <h1 class="display-4">Pead's Putts</h1>
    <p class="lead">Welcome to Pead's Putts — a site about my favorite hobby: golf </p>

    <div class="d-flex justify-content-center gap-3 my-4">
        <img src="~/img/img_5703.jpg" alt="Driver behind ball" class="img-fluid" style="max-width:300px;" />
        <img src="~/img/img_6073.jpg" alt="Ball Hit" class="img-fluid" style="max-width:300px;" />
    </div>

    <p>
        Why is golf so amazing? Golf helps us to combine moderate exercise, mental sharpness, stress relief, social connection, 
        and scenic beauty in a way few other sports do. It's playable from youth to old age, competitive or casual,
        alone or with others. To top it all off, research backs up its real contributions to longer, healthier, happier lives. 
    </p>
    <p>And Golf always manages to show us, no matter how bad life seems, it isn't worse than your golf game</p>

    <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Services">Personal Lesson Prices</a>
</div>
